
.containerFooter {
    display: flex;
    background-color: #19376DCC;
    column-gap:17%;
    flex-wrap: wrap;

}
.containerFooter h2,p,li {
    color: #fff;
    font-size: 12px;
}
.containerFooter h2 {
    font-weight: 600;
    margin: 20px 0 15px 0;
}
.containerFooter p:nth-child(2) {
    line-height: 1.5;
    margin: 0 0 10px 0;
}
.containerFooter p,li {
    font-weight: 200;
}
.primeiracoluna {
    padding-left: 7px;
    flex-direction: column;
}
.primeiracoluna h2, li{
    padding: 5px 0px 5px 0px;

}
.primeiracoluna p:nth-of-type(n+2){
    padding: 10px 15px 15px 0px;
}
.containerCinza {
    display:flex;
    background-color: #D9D9D9;
    font-family:'Poppins', sans-serif;
    color: #19376D;
    padding: 5px 0 5px 5px;
    justify-content: space-between;
}
.paragrafo  p:first-child {
    color: #19376D;
    font-weight: bold;
}
.paragrafo{
    display: flex;
}
.cinzaCima {
    background-color: #D9D9D9;
    height: 5px;
}

img {
   padding-right: 5px;
}

a {
    text-decoration: none;
    color: #FFF;
}
a:hover{
    color: rgba(138, 156, 226)
}

li{
    list-style-type: none;
}

