
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    outline: 0;
}
#searchbar{
    display: flex;
    border-radius: 5px;
    background-color: rgb(94, 94, 192);
    color: #fff;
    height: 30px;
    width: 100%;
    border: 0;
    padding-left: 10px;
}
.listaProdutos li{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

#listaDeProdutos{
    width: 400px;
    
}

#searchbar::placeholder{
    color: #fff;
}

input {
    margin-top: 10px;
}
.listaProdutos {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #eeee;
    width: 400px;
}
.listaProdutos li a{
    color: #000;
    margin-left: 10px;
    padding: 7px;
    font-size:12px;
}
.listaProdutos li:hover { 
    background-color: #f6f6f6;
    border: 1px solid #0B2447;
}

.listaProdutos li a:hover{
    color: #0B2447;
}
.cabeca{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #DDE2F1;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    border-bottom: 3px solid #D9D9D9;
    
}

.cabeca img{
    margin-left: 10px;
    
}

.cabeca p{
    color: #000;
}

.usuario strong{
    display: flex;
    font-weight: bold;
    font-size: 12px;
}


.login p, .login span {
    font-size: 12px;
}


.cabeca i{
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    padding-right: 10px;
}

.carrin-info p{
    font-size: 12px;
}

.strong {
    font-weight: 700;
}
.carrinho{
    display: flex;
    margin-left: 12px;
    align-items: center;
}
.cadastro{
    height: 70px;
    background-color: #19376DCC;
    color: #fff;
    padding: 5px 0;
    border-bottom: 5px solid #D9D9D9;
    text-align: center;
}
.menu {
    width: 10%;
}

.sub-cadastro p{
    font-size: 12px;
}

.cadastro button{
    border-radius: 5px;
    color: #fff;
    background-color: rgb(94, 94, 192);
    width: 60px;
    cursor: pointer;
    border: 0;
}

#oferta{
    background-color: rgb(#fff);
    border-radius: 6px;
    width: 260px;
    border: 0;
    margin-top: 5px;
    padding: 5px;
    
}

.aside-menu{
    width: 250px;
}
.menu-lateral{
    height: 100%;
    background-color:  rgb(87, 108, 188, 0.2);
}


.menu-lateral-categorias{
    display: flex;
    background-color: #576CBC;
    justify-content: space-between;
    align-items: center;
}

.menu-lateral-categorias h2, main h1{
    font-size: 14px;
    padding: 10px;
    color: #FFF;
}

main h1{
    text-align: center;
    background-color: #576CBC;
}

.menu-lateral-categorias i{
    font-size: 20px;
    padding: 10px 8px 10px 10px;
    color: #FFF;
    cursor: pointer;
}

.menu-lateral ul li a{
    display: flex;
    color: #0B2447;
    font-size: 12px;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    justify-content: space-between;
}

.menu-lateral ul li a::after {
    content: '>'

    
}

.menu-lateral ul li a:hover{
    background-color: #576CBC;
    color: #FFF;
    font-weight: 600;
    transition: 0.3s;
}


.btnComprar {
    background-color: rgb(94, 94, 192);
    margin: 10px;
    color: #fff;
    width: 100%;
    cursor: pointer;
}

button:hover{
    opacity: 0.6;
    transition: 0.3s;
}


.produto-conteiner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    justify-content: center;
    
}

.produto {
    background-color: rgb(87, 108, 188, 0.2);
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    align-items: center;

}

.divImg{
display: flex;
justify-content: center;
align-items: center;
height: 168px;
width: 168px;
background-color: #FFF;

}


.produto img{
    width: auto;
    height: auto;
    max-width: 168px;
    max-height: 168px;
    padding: 5px;

}

.produto button {
    margin-top: 10px;
    font-weight: bold;
    height: 30px;
    border: 0;
    font-size: 16px;
}


.tituloProduto, .parcProduto{
    margin-top: 6px;
    font-size: 14px;
    color: #0B2447;
    font-weight: 300;
    height: 70px;
    display: flex;
    align-items: center;
}

.parcProduto{
    height: 20px;
}

.menu-lateral p{
    font-size: 12px;
    color: #0B2447;
    padding-left: 20px;
} 

.produto strong {
    text-align: center;
    margin: 10px;
    color: rgb(94, 94, 192);
    font-weight: 700;
    font-size: 20px;
}

.produtos-menu {
    display: flex;
    align-content: center;
}



header {
    margin: 10px;
}


.sub-cadastro button{
    padding: 5px;
}


main {
    width: 100%;
    background-color: #edeff5;
    margin-left: 10px;
}

/* PRODUTO */



.paginaProdutoPrincipal{
    margin: 20px;
    display: flex;
    padding: 10px;
}

.paginaProdutoPrincipalProduto{
    display: flex;
    background-color: rgb(87, 108, 188, 0.2);
    padding: 12px;
}

.paginaProdutoPrincipalProdutoMiniaturas{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.paginaProdutoPrincipalProdutoMiniaturas figure{
    /* border: 2px solid #000; */
    width:80px;
    height:80px;
    background-color: #fff;
    display: flex;
}
.paginaProdutoPrincipalProdutoMiniaturas img {
    max-width:80px;
    max-height:80px;
    width: auto;
    height: auto;
}


.paginaProdutoPrincipalProdutoFoto img{
    max-width:280px;
    max-height:280px;
    width: auto;
    height: auto;
    padding-left: 1rem;
}

.paginaProdutoPrincipalProdutoDescricao{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
}

.paginaProdutoPrincipalProdutoDescricaoEstrelas{
    display: flex;
    flex-direction: row;
}


.paginaProdutoPrincipalProdutoDescricao h2{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.paginaProdutoPrincipalProdutoDescricao p:nth-child(1){
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    color: #576CBC;
    margin-bottom: 1rem;
}

.paginaProdutoPrincipalProdutoDescricao  p:nth-child(2){
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 1rem;
    text-align: left;
    color: #576CBC;   
}

.paginaProdutoPrincipalProdutoDescricao  p:nth-child(3){
    color: #000;
}

#paginaProdutoPrincipalRelacionados{
    height: 300px;
    top: 200px;
    left: -194px;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.paginaProdutoPrincipalRelacionadosProdutos{
    width: 220px;
    height: 300px;
    border-radius: 6px;
    background: #576CBC1A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: Poppins;
    font-size: 11px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
}

.paginaProdutoPrincipalRelacionadosProdutos p:nth-child(2){
    font-family: Poppins;
    font-size: 11px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0em;
    color: #0B2447; 
}

.paginaProdutoPrincipalRelacionadosProdutos p:nth-child(3){
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    color: #576CBC; 
}

.paginaProdutoPrincipalRelacionadosProdutos p:nth-child(4){
    font-family: Poppins;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #576CBC; 
}

.paginaProdutoPrincipalRelacionadosProdutos button{
    Width: 196px;
    Height: 30px;
    background: #576CBC;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    border: none;
}

.paginaProdutoPrincipalDescricao{
    width: 695px;
    height: 208px;
    top: 451px;
    left: -193px;
    background: #576CBC1A;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.paginaProdutoPrincipalDescricao h3{
    width: 280px;
    height: 35px;
    top: 463px;
    left: 15px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
}

.paginaProdutoPrincipalDescricao p{
    width: 663px;
    height: 145px;
    top: 498px;
    left: -178px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

.paginaProdutoAside{
    display: flex;
    flex-direction: column;
    background-color: rgb(87, 108, 188, 0.2);
    margin-left: 1rem;
    padding: 10px;
}

.paginaProdutoAsideInteracao{
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.paginaProdutoAsideInteracaoFrete{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
}

.paginaProdutoAsideInteracaoFrete input{
    width: 160px;
    height: 20px;
    border-radius: 2px;
    border: 1px solid #acb0c2;
}

.paginaProdutoAsideInteracaoFrete button{
    width: 160px;
    Height: 30px;
    background: #576CBC;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    border: none;
}

.paginaProdutoAsideInteracaoFrete h3{
    width: 280px;
    height: 35px;
    top: 463px;
    left: 15px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
}

.paginaProdutoAsideInteracaoComprar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 130px;
    font-family: Poppins;
    font-size: 11px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0em;
}

.paginaProdutoAsideInteracaoComprar select{
    border: none;
    width: 40px;
    font-family: Poppins;
    font-size: 11px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0em;
}

.paginaProdutoAsideInteracaoComprar button{
    width: 160px;
    Height: 30px;
    background: #A5D7E8;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #576CBC;
    border: none;
}

.paginaProdutoAsideInteracaoComprar button:last-child{
    width: 160px;
    Height: 25px;
    background: #576CBC;
    font-family: Poppins;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    color: #A5D7E8;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

}


.paginaProdutoAsideEspaçoVago1{
    height: 300px;
}

.paginaProdutoAsideEspaçoVago2{
    height: 208px;
}




