.bg {
    background-color: #576CBC1A;
    font-family: 'Poppins';
    border: 1px;
}

table {
    width: 100%;
}
.alinhamento {
    text-align: left;
    padding: 5px 0 10px 10px;
}
.alinhamento1 { 
    padding: 5px 0 10px 0;
}
.alinhamento2 {
    text-align: right;
    padding: 5px 10px 10px 0;
}
.alinharCHead {
    display: flex;
    padding: 5px 10px 10px 0;
}