table {
    width: 100%;
}
.corDeFundo {
    display: flex;
    background-color:#576CBC1A;
    font-family: 'Poppins';
    border: 1px solid #000000;
    
}

.alinhamento {
    text-align: left;
    /* flex-shrink: ; */
}
.alinhamento1 { 
    /* flex-grow: ; */
}
.alinhamento2 {
    /* flex-shrink: ; */
    text-align: right;
}
