table {
    width: 100%;
}
.topo {
    display: flex;
    justify-content: space-between;
    background-color: rgb(87, 108, 188, 0.2);
    font-family: 'Poppins';
    font-weight: bold;
    border: 1px solid #000000;
    border: 0;
    margin: 20px;
    padding: 10px;

    
}

.alinhamento1 {
    padding-left: 900px;
}

img {
    height: 70px;
}

.produto-carrinho {
    display: flex;
    
}

.imagem {
    align-items: flex-start;
}

.titulo {

}

.subtitulo {
    
}