
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    outline: 0;
}
#searchbar{
    display: flex;
    border-radius: 5px;
    background-color: rgb(94, 94, 192);
    color: #fff;
    height: 30px;
    width: 600px;
    margin-left: 150px;
    border: 0;
    padding-left: 10px;
}
.listaProdutos li{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

input::placeholder{
    color: #fff;
}

.listaDeProdutos {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color:#000;

}

input {
    margin-top: 10px;
}
.listaProdutos {
    display: none;
    position: absolute;
    top: 71px;
    left: 23%;
    z-index: 1;
    background-color: #eeee;
    width: 600px;
}
.listaProdutos li a{
    font-family:'Poppins',sans-serif;
    color: #000;
    margin-left: 10px;
    padding: 7px;
    font-size:12pt;
}
.listaProdutos li a:hover { 
    background-color: f6f6f6;
}
.cabeca{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #DDE2F1;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    border-bottom: 3px solid #D9D9D9;
    
}

.cabeca img{
    margin-left: 10px;
}

.cabeca p{
    color: #000;
}

.caixaSombra {
    filter: drop-shadow(4px 4px 4px darkgray);
    /* drop-shadow: 5px 10px 2px black; */
}
.usuario, .carrin-info{
    display: none;
}
.usuario strong{
    display: flex;
    font-weight: bold;
    font-size: 12px;
}

.login p, .login span {
    font-size: 12px;
}

.cabeca i{
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    padding-right: 10px;
}

.carrin-info p, .sub-cadastro p{
    font-size: 12px;
}

.strong {
    font-weight: 700;
}

.carrinho{
    display: flex;
    margin-left: 12px;
    align-items: center;
}

#btnMenu{
    font-size: 32px;
    padding-top: 3px;
}

.cadastro{
    height: 70px;
    background-color: #19376dcc;
    color: #FFF;
    padding: 5px 0;
    border-bottom: 5px solid #D9D9D9;
    text-align: center;
}



.cadastro button{
    border-radius: 5px;
    color: #fff;
    background-color: rgb(94, 94, 192);
    width: 60px;
    cursor: pointer;
    border: 0;
}

#oferta{
    background-color: #FFF;
    border-radius: 6px;
    width: 260px;
    border: 0;
    margin-top: 5px;
    padding: 5px;
    
}

.menu-lateral{
    height: 100%;
    background-color: rgb(87, 108, 188, 0.2);
}

.menu-lateral-categorias{
    display: flex;
    background-color: #576CBC;
    justify-content: space-between;
    align-items: center;
}

.menu-lateral-categorias h2, main h1 {
    font-size: 14px;
    padding: 10px;
    color: #FFF;
}

.menu-lateral-categorias i{
    font-size: 20px;
    padding: 10px 8px 10px 10px;
    color: #FFF;
    cursor: pointer;
}

.menu-lateral ul li a{
    display: flex;
    color: #0B2447;
    font-size: 12px;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    justify-content: space-between;
}

.menu-lateral ul li a::after{
    content: '>'
}

.menu-lateral ul li a:hover{
    background-color: #576CBC;
    color: #FFF;
    font-weight: 600;
    transition: 0.3s;
}

main h1{
    text-align: center;
    background-color: #576CBC;
}

button {
    background-color: rgb(94, 94, 192);
    color: #fff;
}


.produto-conteiner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr); 
    gap: 15px;
    width: 100px;
    
}


.produto {
    background-color: rgb(87, 108, 188, 0.2);
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 280px;
    width: 260px;
    line-height: 1.5;
    border: 0;
    border-radius: 6px;


}

.produto button {
    margin-top: 10px;
    font-weight: bold;
    height: 50px;
    border: 0;
    font-size: 16px;
}
.produto p, .menu-lateral p{
    font-size: 14px;
    color: #000;
}

.menu-lateral p{
    font-size: 12px;
    color: #0B2447;
    padding-left: 20px;
} 
summary {
    font-size: 14px;
    color: #0B2447;
    font-weight: 400;
}

.produto strong {
    margin: 10px;
    color: rgb(94, 94, 192);
    font-weight: bold;
    font-size: 20px;
}

.item1 {
    grid-column: 1;
    grid-row: 1;
}

.item2 {
    grid-column: 2;
    grid-row: 1;
}

.item3 {
    grid-column: 3;
    grid-row: 1;
}

.item4 {
    grid-column: 1;
    grid-row: 2;
}

.item5 {
    grid-column: 2;
    grid-row: 2;
}

.item6 {
    grid-column: 3;
    grid-row: 2;
}

.item7 {
    grid-column: 4;
    grid-row: 1;
}

.item8 {
    grid-column: 4;
    grid-row: 2;
}

.produtos-menu {
    display: flex;
    align-content: center;
}

header {
    margin: 10px;
}


.sub-cadastro button{
    padding: 5px;
}