:root {
    --fonte-primária: 'Poppins', sans-serif;
}

* {
    font-family: 'Poppins', sans-serif;
}

.titulo {
    display: flex;
    justify-content: center;
}

.gerenCompras{
    height: 50%;
    margin: 10px 30px 0px 30px;
    background-color: #fff;
}

.informCompra {
    display: flex;
    flex-direction: row;
    justify-content: center;
    display: grid;
    grid-template-columns: 20% 30% 30% 10%;
    padding: 0px 20px;
}

.Temas{
    font-weight: bold;
}

.Fundo1{
    background-color: #ccddf9;
}

.Status1 {
    color: #fff;
    background-color: rgb(15, 192, 15);
    padding: 3px 5px;
    border-radius: 5px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Status2 {
    color: #fff;
    background-color: rgb(238, 207, 53);
    padding: 4px 5px;
    border-radius: 5px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Status3 {
    color: #fff;
    background-color: red;
    padding: 3px 5px;
    border-radius: 5px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    color: #fff;
    background-color: #19376D;
    height: 30px;
    border-radius: 5px;
    padding: 3px 20px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.oculto {
    background-color: aquamarine;
}

.oculto:active {
    visibility: hidden;
    
}